h1  {
  margin: 20px;
  color : darkcyan
}

input, button {
  display: block;
  margin: 20px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid darkcyan;
}

button {
  background-color: darkcyan;
  color: bisque;
}